{# Suppress irrelevant toc.not_included warnings since autosummary generates link #}
:orphan:

{# General title for every documented object, also rendered in toctree #}
{{ name | escape | underline }}
